[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=browny3542
Group=www-data
WorkingDirectory=/home/browny3542/Silk_Road
ExecStart=/home/browny3542/Silk_Road/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target

