{% extends 'base.html' %}

{% block title %}Payment Successful{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title text-success">Payment Successful!</h2>
                    <p>Your payment has been processed successfully.</p>
                    <a href="{% url 'profile' %}" class="btn btn-primary">View Your Reservations</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
