{% extends 'base.html' %}

{% block title %}Payment Failed{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title text-danger">Payment Failed</h2>
                    <p>There was an error processing your payment. Please try again.</p>
                    <a href="{% url 'caravan-list' %}" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
